/* 
Web Compatibility Theme
http://planet.webcompat.com/
Web site started on November 2013
Because we love the Web.

You said we suck at design, be our guest
https://github.com/miketaylr/planet.webcompat.com
*/

/*# RESET STYLE TO BE REMOVED*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure,figcaption,article,footer,header  {
        margin:0;
        padding:0;
}
table {
        border-collapse:collapse;
        border-spacing:0;
}
fieldset,img {
        border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
        font-style:normal;
        font-weight:normal;
}
ol,ul {
        list-style:none;
}
caption,th {
        text-align:left;
}
h1,h2,h3,h4,h5,h6 {
        font-size:100%;
        font-weight:normal;
}
q:before,q:after {
        content:'';
}
abbr,acronym { border:0;
}

/*# END OF RESET*/

@viewport {width: device-width;}

/* some very very very basic stuff */
strong {font-weight: bold;}
em {font-style: italic;}
abbr {border-bottom: 1px dotted rgb(79, 74, 75);}

/* "responsive" */
img {max-width:100%;}
pre {white-space: pre-wrap;}

/* Title */

h1 {padding: 1rem 1rem 1rem 5rem;
	font-size: 1rem;
	background-color: rgb(240,240,240);
	color: rgb(40,40,40);
	background-image: url("canopener-ico.png");
	background-size: 5rem;
	background-repeat: no-repeat;
	background-position: left, center;
	font-family: "Andale Mono", "Courier New", Courier, monospace;
	margin-bottom: 0;}

/* body */

#body {margin: 0;
	padding:0;}


/* news of the day */

.newsday {margin: 0 0 1rem 0;}
.day {
	margin:0;
	padding: 1rem;
	background-color: rgb(255,255,255);
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	color: rgb(160,160,160);}

/* Each article */

article.news {
	padding: 1rem;
	max-width: 50rem;
	font-size: 1rem;
	line-height: 1.6rem;}

h3.posttitle a {
	font-size: 1.3rem;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-decoration: none;
	color: rgb(40,40,40);
}

/* Taking care of the style armageddon for articles */
article h1 {font-weight: bold;
	font-size:1.4rem;}
article h2 {font-weight: bold;
	font-size:1.3rem;}
article h3 {font-weight: bold;
	font-size:1.2rem;}
article h4 {font-weight: bold;
	font-size:1.1rem;}
article h5 {font-weight: bold;
	font-size:1rem;}
article h6 {font-weight: bold;
	font-size:1rem;}

article p  {margin: 1rem 0;}
article ul, article dl, article ol, article blockquote, article pre, article table {
	margin: 2rem 1rem;}
article li {list-style-type: disc;
	list-style-position: inside;}

article a {text-decoration: none;
	border-bottom: 1px dotted rgb(200,200,200);
	color: rgb(); }
article a:visited {color:rgb(40,40,40);}

article pre {
	font-size: .9rem;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
	line-height: 1.2rem;}


/* Meta */

.meta {	
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: rgb(140,140,140);}
.meta a.blogtitle {
	text-decoration: none;
	color: rgb(99,00,00);
}

.author {color: rgb(40,40,40);}
.postdate {color: rgb(40,40,40);}


