/*
Web Compatibility Theme
http://planet.webcompat.com/
Web site started on November 2013
Because we love the Web.

You said we suck at design, be our guest
https://github.com/miketaylr/planet.webcompat.com
*/

/*# RESET STYLE TO BE REMOVED*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure,figcaption,article,footer,header  {
        margin:0;
        padding:0;
}
table {
        border-collapse:collapse;
        border-spacing:0;
}
fieldset,img {
        border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
        font-style:normal;
        font-weight:normal;
}
ol,ul {
        list-style:none;
}
caption,th {
        text-align:left;
}
h1,h2,h3,h4,h5,h6 {
        font-size:100%;
        font-weight:normal;
}
q:before,q:after {
        content:'';
}
abbr,acronym { border:0;
}

/*# END OF RESET*/

@viewport {width: device-width;}

@font-face {
    font-family: "DIN";
    src:url(dinengschrift-webfont.woff);
    }

/* some very very very basic stuff */
strong {font-weight: bold;}
em {font-style: italic;}
abbr {border-bottom: 1px dotted rgb(79, 74, 75);}

/* "responsive" */
img {max-width:100%;
	height: 100%;}

pre, code {white-space: pre-wrap;}


/* Title */

h1 {
    background-color: rgb(30,30,30);
    background-image: url("underconstruction.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 3rem;
    color: rgb(70,70,70);
    font-family: "DIN", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 0;
    padding: 1rem 1rem 1rem 5rem;
}

/* body */

#body {margin: 0 auto;
	padding:0;}


/* news of the day */

.newsday {margin: 0 0 1rem 0;}
.day {
	margin:0;
	padding: 1rem;
	color: rgb(30,30,30);
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 200;
	font-size: 1.2rem;  
	background-color: rgb(255,200,41);}

/* Each article */

article.news {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
	padding: 1rem;
	font-size: 1rem;
	line-height: 1.6rem;
	border-bottom: 3px solid rgb(230,230,230)}

h3.posttitle a {
    font-family: "DIN", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;    
	font-size: 1.6rem;
	text-decoration: none;
	color: rgb(40,40,40);
}

/* Taking care of the style armageddon for articles */
article h1 {font-weight: bold;
	font-size:1.4rem;}
article h2 {font-weight: bold;
	font-size:1.3rem;}
article h3 {font-weight: bold;
	font-size:1.2rem;}
article h4 {font-weight: bold;
	font-size:1.1rem;}
article h5 {font-weight: bold;
	font-size:1rem;}
article h6 {font-weight: bold;
	font-size:1rem;}

article p  {margin: 1rem 0;}
article ul, article dl, article ol, article blockquote, article pre, article table {
	margin: 2rem 1rem;}
article li {list-style-type: disc;
	list-style-position: inside;}

article a {text-decoration: none;
	border-bottom: 1px dotted rgb(200,200,200);
	color: rgb(); }
article a:visited {color:rgb(40,40,40);}

article pre {
    padding: 2rem;
	font-size: .8rem;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
	line-height: 1.2rem;
    background-color: rgb(240,240,240);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    border-left: 5px rgb(255,200,41) solid;
    overflow: auto;
}


/* Meta */

.meta {	
    font-size:.8rem;
    padding: 1rem 1rem 1rem 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(100,100,100);
    font-variant: small-caps;
    line-height: 1.2rem;
    border-bottom: 1px solid rgb(220,220,220);
    margin-bottom: 2rem;}

.meta a.blogtitle {
    padding-left:1.2rem;
	text-decoration: none;
    border:none;
    font-weight: 600;
    color: rgb(150,150,150);
}

.metaauthor, .time {
    display:block;
    font-weight: 600;
    color: rgb(180,180,180);
}
.author, .postdate {
    color: rgb(60,60,60);
    font-weight: 400;
    font-variant: normal;}

/* Subscription */

.subscription {
    border-top: 1px solid rgb(230,230,230);
    font-weight:400;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	padding:1.5rem 1rem 1rem 1rem;}

.subscription li {margin:.5rem 0 0 0;}

/* Footer */
footer {
    margin-top: 2rem;
    border-top: 1px solid rgb(230,230,230);
    font-weight:200;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	padding:1rem;}
footer span {
    display:block;
    padding:0 0 .5rem 0;}
footer span.updated time {font-weight: 400;}


/* Here starts the rule specific for larger screens */

@media screen and (min-width: 50em) {

body {background-color: #eee;}
#body {
   margin:auto;
   width: 50em;}

section.newsday {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    }

.day {	padding: 1rem 3rem;}

article.news {padding: 1rem 3rem;
    }

.subscription, footer, h1 {
    width: 50em;
    margin:auto;}

h1 {background-position: 50px center;
    padding:1rem 0 1rem 6rem;}


